*{
    margin: 0;
    padding: 20;
   }
  
  /* .b1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Black{
    background-color: black;
    color: white;
  }
  
  .White{
    background-color: white;
    color: black;
  }
  
  .nothing{
    display: none;
  } */

