   * {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.nav{
    background-color: rgb(36, 151, 155);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav li:active{
    background-color: aquamarine;
}

.nav li :hover{
    background-color: blue;
}

.nav a{
    color: white;
}

.container {
    display: flex;
    justify-content: center;
  }